# Ignorar todos los archivos Parquet
*.parquet

# Ignorar archivos generados por Airflow
/dags/__pycache__/
*/__pycache__/
*/__pycache__/*
/logs/
airflow.cfg
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
webserver_config.py

# Entorno virtual
venv/
venv2/

# Tests
tests/__pycache__/
__pycache__/

#cache
.pytest_cache

# Variables de entorno
*.env
